@using PizzaMVC.ViewModels
@using PizzaMVC.Models
@{
    ViewBag.Title = "SUPER PIZZA";
    var pedidos = new List<PedidoViewModel>(){
        new PedidoViewModel() { ProductoPedido = new ProductoPedido()
        {
            Nombre = "Hawaiana",
            //Descripcion = "La pizza hawaiana es una pizza que contiene una base de queso fundido y tomate que se aliñan con jamón y piña."
        }},
        new PedidoViewModel() { ProductoPedido = new ProductoPedido()
        {
            Nombre = "Napolitana",
            //Descripcion="La pizza napolitana, de masa tierna y delgada pero bordes altos, es la versión propia de la cocina napolitana de la pizza redonda."
        }},
        new PedidoViewModel() { ProductoPedido = new ProductoPedido()
        {
            Nombre = "Especial",
            //Descripcion="Esta pizza es especial ya que no lleva la típica salsa de tomate sino que por encima lleva láminas de varias verduras como zucchini, berenjena, pimientos y tomate."
        } },
        new PedidoViewModel() { ProductoPedido = new ProductoPedido()
        {
            Nombre = "Con Huevo",
            //Descripcion="La pizza de huevo duro, es una pizza roja con mozzarella y huevo duro rallado en la superficie."
        } }
    };
}

<body>
    <div>
        @Html.Partial("_RightSidebar")
    </div>

    <div class="left-side-body">
        @Html.Partial("_SlideShow")
        <br />

        <div class="left-side-content">
            <div>
                <h2>DESTACADAS</h2>
                <ul class="list-inline">
                    <li class="col-sm-3 list-group-item">
                        @Html.Partial("_Destacada", pedidos[0])
                    </li>
                    <li class="col-sm-3 list-group-item">
                        @Html.Partial("_Destacada", pedidos[1])
                    </li>
                    <li class="col-sm-3 list-group-item">
                        @Html.Partial("_Destacada", pedidos[2])
                    </li>
                    <li class="col-sm-3 list-group-item">
                        @Html.Partial("_Destacada", pedidos[3])
                    </li>
                </ul>
            </div>
        </div>
        <br />

        <div class="left-side-content">
            <h2>COMENTARIOS</h2>
            <ul class="list-group">
                <li class="list-group-item">
                    @Html.Partial("_Comentario")
                </li>
                <li class="list-group-item">
                    @Html.Partial("_Comentario")
                </li>
                <li class="list-group-item">
                    @Html.Partial("_Comentario")
                </li>
            </ul>
        </div>
    </div>
</body>