@model PizzaMVC.Models.Pizza

@{
    ViewBag.Title = "Receta";
}

<h2>@Html.DisplayFor(model => model.Nombre)</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Receta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Receta)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Regresar a la lista", "Index")
</p>

